/***/
/*==========  5.2 - Dividers  ==========*/

hr {
    border-color: $color-border;
    border-width: 1px;
    max-width: 100%;
    margin: $baseline auto;
}

hr.divider-light-dark {
    max-width: $baseline * 6.25;
    border-color: $color-primary;
    border-width: 3px;
}

hr.divider-light {
    border-color: $color-bg-main;
    max-width: $baseline + 1;
    border-width: 3px;
}