section,
footer {
    padding: 60px 0;
}

.showcase-img {
    background-size: cover;
    background-position: center;
}


.showcase-text {
    padding: 50px;
}

.showcase {
    padding: 0;
}

.team-item {
    max-width: 200px;
}

.call-to-action {
    background-image: url(../img/slider-1.jpg);
    background-size: center;
    background-position: cover;
}


@media (max-width: 768px) {
    .service-item, .team-item {
        margin-bottom: 50px;
    }

    .service-item:last-child, .team-item-last {
        margin: 0;
    }

    .showcase-img {
        height: 300px;
    }
}