// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;

// colors
$primary-color: #1ba4ce;
$secondary-color: #473452;

$button-color: #30383b;

$primary-text-color: #888888;
$secondary-text-color: #555;

// container settings
$small-container: 100%;
$large-container: 960px;
$extra-large-container: 1140px;

// mobile breakpoints
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 922px;
$extra-large: 1200px;

