/***/
/*==========  6.3 - One Page styles  ==========*/

.t108-one-page {

    hr {
        margin-bottom: auto;
    }

    #about {
        margin-top: $baseline * 4;
		padding: ($baseline * 4) $padding-none;

        .about-box {
            margin: ($baseline * 3) auto $margin-none;

            p {
                margin-bottom: $margin-none;
            }

            .icon-about {
                color: $color-text-primary;
                width: $base-font-size * 4.5;
                height: $base-font-size * 4.5;
                border-radius: 100%;
                line-height: $base-font-size * 4.5;
                background-color: $color-primary;
                margin: $margin-none auto $baseline;
            }
        }
	}

    @media(max-width: 768px) {

        #about {
            margin-top: $baseline * 3.33;
        }
    }

    #counters-numbers, #counters-progress { 
        height: auto;  
        width: 100%; 
        position: relative; 
        padding: ($baseline * 4) $padding-none;

        .container {
            position: relative;
            z-index: 11;

            p, h4 {
                color: $color-text-primary;
            }

            .counters-box {
                margin: ($baseline * 3) auto $margin-none;

                h1 {
                    font-size: $base-font-size + 42;
                    color: $color-text-primary;
                }

                h6 {
                    color: $color-text-primary;
                }

                p {
                    margin-bottom: $margin-none;
                    color: $color-text-primary;
                    margin: $baseline auto;
                }

                .text-primary {
                    color: $color-primary;
                }
            }
        }
    }
    
    #counters-numbers { 
        background: url(../images/counters/counters_numbers.jpg) no-repeat 50% 0 fixed;
        -webkit-background-size: 100% 300%;
        -moz-background-size: 100% 300%;
        -o-background-size: 100% 300%;
        background-size: 100% 300%;
    }

    #counters-progress { 
        background: url(../images/counters/counters_progres.jpg) 50% 0 fixed;
        color: $color-text-primary;

        hr {
            margin-bottom: $baseline;
        }

        .counters-box div {
            margin-left: auto;
            margin-right: auto;
        }
    }

	#portfolio {
		padding: $padding-none;
        text-transform: $text-transform-base;

		.col-lg-3 {
            padding-left: $padding-none;
			padding-right: $padding-none;
		}

		.col-sm-6 {
			padding-left: $padding-none;
			padding-right: $padding-none;
		}

        .col-md-3 {
            padding-left: $padding-none;
            padding-right: $padding-none;
        }

        .col-xs-12 {
            padding-left: $padding-none;
            padding-right: $padding-none;
        }

        .portfolio-box {
            display: block;
            position: relative;
            margin: $margin-none auto;
            max-width: $width-max-img-portfolio;


            .portfolio-box-caption {
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height:100%;
                opacity: 0;
                background: $color-portfolio-hover;
                -webkit-transition: all .1s;
                -moz-transition: all 1s;
                transition: all 1s;

                .portfolio-box-caption-content {
                    position: absolute;
                    top: $position-top-text-portfolio;
                    width: 100%;
                    transform: translateY(-50%);

                    .project-category h4 {
                        color: $color-text-primary;
                        padding: $padding-none 15px;

                    }

                    .project-name h6 {
                        color: $color-primary;
                        padding: $padding-none 15px;
                    } 
                }
            }
        }

        .portfolio-box:hover .portfolio-box-caption {
            opacity: 1;
        }
    }

    #counters-services {
    background-color: $color-background;
    padding: ($baseline * 4) $padding-none $baseline;

        .icon-services {
            color: $color-primary;
            width: $base-font-size * 4.5;
            height: $base-font-size * 4.5;
            border-radius: 100%;
            line-height: $base-font-size * 4.5;
            border: 2px solid $color-primary;
        }

        .icon-services:hover {
			rotate: 45deg;
            transition: rotate 0.5s;
		}


        .counters-box {
            margin: $margin-none auto ($baseline * 3);

            p {
                margin-bottom: $margin-none;
            }

            .divider-light-dark {
                width: $baseline * 2;
                margin-left: $padding-none;
                margin-bottom: 20px;
            }
        }
    }

    @media(max-width: 768px) {
        
        #counters-services {

            .counters-box {
                text-align: center;

                .divider-light-dark {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    #services {
        padding: ($baseline * 4) $padding-none;

        .thumbnail {
            background-color: transparent;
            border: none;
            border-radius: 0;
            margin-bottom: $margin-none;
            margin-top: $baseline * 3;

            .caption {
                padding: $padding-none;

                a {
                    text-decoration: none;

                    h5:hover {
                        color: $color-primary;
                    }
                } 
            }
        }
    }

    #team {
        padding: $baseline $padding-none;

        .container {
            margin-top: $baseline * 3;

            img {
                margin-left: auto;
                margin-right: auto;
            }
        
            ul.social-buttons {
                margin: ($baseline * 2) auto ($baseline * 3);

                li a {
                    display: block;
                    width: $base-font-size * 2.5;
                    height: $base-font-size * 2.5;
                    border-radius: 100%;
                    line-height: $base-font-size * 2.5;
                    outline: 0;
                    color: $color-bg-main;
                    background-color: $color-border;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    transition: all .3s;
                }

                li a:hover, li a:focus, li a:active {
                    background-color: $color-link;
                }
            }

            @media(max-width: 768px) {

                ul.social-buttons {
                    margin-top: $baseline;
                }
            }
        }
    }
}