.page-footer {
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;

    img {
        width: 100px;
    }

    .menu {
        background-color: white;
        list-style: none;
        padding: 20px 0;

        .menu-item {
            display: inline-block;
            margin: 0 20px;
            font-size: initial;
            padding: 15px 0;
            
            a {
                color: $secondary-color;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}