* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
}

.container {
    max-width: $small-container;
    width: $small-container;
    padding: 0 23px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $secondary-font;
    color: $secondary-color;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 22px;
}

a,
button {
    transition: all .3s;
}

section {
    padding: 30px 0;

    .section-header {
        text-align: center;
        margin-bottom: 40px;

        p {
            margin: auto;
            font-weight: 300;
        }

        @media all and (min-width: $medium) {
            p {
                max-width: 70%;
            }
        }
    }
}

p {
    line-height: 1.5;
}



@media all and (min-width: $large) {

    .container{
        max-width: $large-container;
    }

    section {
        padding: 60px 0;
    }
    
}

@media all and (min-width: $extra-large) {

    .container{
        max-width: $extra-large-container;
    }
    
}